# Libraries

In [8]:
import pandas as pd
from datetime import date
from matplotlib import pyplot as plt

# Constants

In [9]:
CYBER_LABEL = "CYBER"
NORMAL_LABEL = "NOT-CYBER"

# Read CSV Files

In [10]:
cyber_df = pd.read_csv("../../data/all_data.csv",sep="\t")

In [11]:
cyber_df

,timestamp,keywords,tweet,clean_tweet,relevant,entities
0,2018-08-04 17:55:40+00:00,"['microsoft office', 'office']",RT @MDSecLabs: Escaping the Sandbox - Microsof...,rt mdseclabs escaping the sandbox microsoft of...,1,O O O O O B-ORG B-PRO O O O O O O O
1,2016-12-13 20:01:42+00:00,['office'],#cybersecurity Office 365 Biz Users Targeted i...,cybersecurity office 365 biz users targeted in...,1,O B-PRO B-VER O O O O O O O O
2,2016-12-06 21:22:23+00:00,['flash'],Adobe Flash Player flaws remain the most used ...,adobe flash player flaws remain the most used ...,1,B-ORG B-PRO I-PRO O O O O O O O O
3,2018-08-08 19:05:15+00:00,['windows'],Bug in Mingw-w64 Windows app development envir...,bug in mingw-w64 windows app development envir...,1,O O O B-PRO O O O O O B-VUL I-VUL
4,2016-12-05 11:15:55+00:00,"['windows', 'windows 7']",threatmeter: Microsoft Windows 7 SP1 NFO File ...,threatmeter microsoft windows 7 sp1 nfo file h...,1,O B-ORG B-PRO B-VER I-VER O O O O B-VUL I-VUL
...,...,...,...,...,...,...
31276,2016-11-30 03:00:07+00:00,['java'],Muni system #hacker hit others by scanning for...,muni system hacker hit others by scanning for ...,1,O O O O O O O O O B-PRO O O
31277,2018-08-15 14:52:50+00:00,"['red hat', 'red hat']",Red Hat Security Advisory 2018-2391-01 https:/...,red hat security advisory 2018-2391-01 advisory,1,B-ORG I-ORG B-ID I-ID I-ID O
31278,2017-03-16 18:00:08+00:00,"['oracle', 'sql', 'mysql']",#Vuln: #Oracle MySQL Server CVE-2017-3313 Loca...,vuln oracle mysql server cve-2017-3313 local s...,1,O B-ORG B-PRO I-PRO B-ID B-VUL I-VUL I-VUL O
31279,2017-03-08 05:46:07+00:00,"['linux', 'ubuntu']",#ubuntu #security : USN-3219-1: Linux kernel v...,ubuntu security usn-3219-1 linux kernel vulner...,1,B-PRO O B-ID B-PRO I-PRO O
31280,2016-12-02 00:18:08+00:00,"['apache tomcat', 'tomcat']",Vuln: Apache Tomcat Security Manager CVE-2016-...,vuln apache tomcat security manager cve-2016-6...,1,O B-PRO I-PRO O O B-ID B-VUL I-VUL I-VUL

In [12]:
normal_df = pd.read_csv("../../data/100k_normal_tweet.csv",header=None)

In [13]:
normal_df

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
99995,0,1793820630,Thu May 14 04:05:58 PDT 2009,NO_QUERY,babybigmouth,my son has developed the new habit of waking u...
99996,0,1793820812,Thu May 14 04:06:00 PDT 2009,NO_QUERY,paramoreroxx,looks like my routers broke more tweets from ...
99997,0,1793820858,Thu May 14 04:06:00 PDT 2009,NO_QUERY,beckypope,i really dont want to be in college right now....
99998,0,1793820982,Thu May 14 04:06:02 PDT 2009,NO_QUERY,XMissxXxMurderX,@flossa *offers you pepto*
99999,0,1793821002,Thu May 14 04:06:02 PDT 2009,NO_QUERY,louiseydeesy,@JosieHobo I WOULD SOOOOO BE THERE IF I DIDN'T...

# Create New Dataframe

In [14]:
cyber_contents = cyber_df["clean_tweet"]
cyber_labels = pd.Series([CYBER_LABEL for item in list(cyber_df["clean_tweet"]) ])

normal_contents = normal_df[5]
normal_labels = pd.Series([NORMAL_LABEL for item in list(normal_df[5])])

df = pd.DataFrame({"content":cyber_contents.append(normal_contents), "label":cyber_labels.append(normal_labels)})

In [15]:
df

                                                 content      label
0      rt mdseclabs escaping the sandbox microsoft of...      CYBER
1      cybersecurity office 365 biz users targeted in...      CYBER
2      adobe flash player flaws remain the most used ...      CYBER
3      bug in mingw-w64 windows app development envir...      CYBER
4      threatmeter microsoft windows 7 sp1 nfo file h...      CYBER
...                                                  ...        ...
99995  my son has developed the new habit of waking u...  NOT-CYBER
99996  looks like my routers broke  more tweets from ...  NOT-CYBER
99997  i really dont want to be in college right now....  NOT-CYBER
99998                        @flossa  *offers you pepto*  NOT-CYBER
99999  @JosieHobo I WOULD SOOOOO BE THERE IF I DIDN'T...  NOT-CYBER

[131281 rows x 2 columns]

# Save to CSV file

In [17]:
d1 = date.today().strftime("%d-%m-%Y")
df.to_csv("classifier_dataset_"+d1+".csv")